<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.haocean.dinninghall">

    <!-- 必选 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
<uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 可选 -->
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@mipmap/logo2"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ViewPagerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".document.DocumentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".record.RecordListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".record.CreateRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".manManagement.ManManagementIndexActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".manManagement.CreateManActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="BUG_HD_SDK_GENERAL_KEY"
            android:value="6209fe0420489ff0d973b3dbd7e72593" />

        <activity android:name=".safety.SafetyListActivity" />
        <activity android:name=".safety.CreateSafetyActivity" />
        <activity android:name=".review.CreateReviewActivity" />
        <activity android:name=".review.ReviewListActivity" />
        <activity
            android:name=".setup.user.UserActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".setup.about.AboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".setup.contacts.ContactsList"
            android:screenOrientation="portrait" />
        <activity android:name=".setup.user.InfoActivity" />
        <activity android:name=".setup.revise.ReviseActivity" />
        <activity android:name=".safety.DetailActivity"></activity>
    </application>

</manifest>